body {
    margin: 0;
}

#purchases-content {
	font-family: 'Open Sans', sans-serif;
}

.heading, .input-field {
    color: white;
}

.first {
    color: white;
    font-size: 20px;
}

#new-purchase-container {
    float: left;
    background: darkslategray;
    padding: 40px;
}

#purchases-container {
	display: flex;
    flex-flow: row wrap;
    max-width: 1500px;
}

.card {
    flex: 0 0 auto;
    width: 325px;
    height: 325px;
    margin: 40px 10px;
    padding: 8px;
    text-align: center;
}