body {
    margin: 0;
}

#purchases-content {
	font-family: 'Open Sans', sans-serif;
}

.first {
    font-size: 20px;
}

#purchase-show .card img {
    height: 200px;
    width: 200px;
}

#purchase-show .card {
    position: relative;
    left: -80px;
    margin: 0;
}

#purchase-single-display {
    padding: 30px;
    position: fixed;
    bottom: 20px;
    border: 40px;
    left: 16px;
    font-size: 15px;
}

#purchase-comment-submission {
    position: fixed;
    bottom: 2px;
    left: 45px;
}

#new-purchase-container {
    padding: 30px;
    position: fixed;
    max-height: 150px;
    max-width: 275px;
    border: 30px;
    top: 8px;
    left: 16px;
}

#purchases-container {
	display: flex;
    flex-flow: row wrap;
    max-width: 1500px;
    margin: auto;
    width: 60%;
}

#purchases-content {
    padding-left: 300px;
}

.card {
    flex: 0 0 auto;
    width: 325px;
    height: 325px;
    margin: 40px 10px;
    padding: 8px;
    text-align: center;
}

.selectable {
    font-size: 15px;
}

#card-comments-location {
    bottom: 10px;
}